[Unit]
Description=MediaMTX RTSP Server
After=network.target

[Service]
Type=simple
User=fwd
# Assuming mediamtx is in /usr/local/bin
ExecStart=/usr/local/bin/mediamtx /usr/local/etc/mediamtx.yml
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
